.ImageGalleryItem-image {
  width: 100%;
  height: calc((100vh - 200px) / 3);
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ImageGalleryItem-image:hover {
  transform: scale(1.03);
  cursor: zoom-in;
}
